<article class="card">
    <div class="card-body">
        <h5 class="card-title">Wykształcenie</h5>
        <div class="info-card-item d-flex">
            <div class="info-card-item-year">
                1997-2008
            </div>
            <div class="info-card-item-content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quidem veniam recusandae est officia adipisci consequuntur illo alias unde accusamus!
            </div>
        </div>
        <div class="info-card-item d-flex">
            <div class="info-card-item-year">
                1997-2008
            </div>
            <div class="info-card-item-content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quidem veniam recusandae est officia adipisci consequuntur illo alias unde accusamus!
            </div>
        </div>
        <div class="info-card-item d-flex">
            <div class="info-card-item-year">
                1997-2008
            </div>
            <div class="info-card-item-content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia quidem veniam recusandae est officia adipisci consequuntur illo alias unde accusamus!
            </div>
        </div>
    </div>
</article>