@media print {
  @page {
    size: A4 portrait;
  }
  .container {
    // @include make-container($print-gutter-width);
  }
  html {
    font-size: 11pt;
  }
  #root {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  #personal-info-bar {
    @include make-col-ready($print-gutter-width);
    @include make-col(4);
    // height: 37.32cm;
  }

  a {
    text-decoration: none !important;
    &[data-print-text]:after {
      content: " - " attr(data-print-text);
    }
  }
  #my-photo-container {
    margin-top: map-get($map: $spacers, $key: 4);
  }

  #skills-block,
  #contact-data-block {
    @include make-col(12);
  }

  #name-block {
    flex-direction: column !important;
  }

  #detailed-info-section {
    @include make-col-ready($print-gutter-width);
    @include make-col(8);
  }
  .card {
    box-shadow: 0 0 15px $gray-200 !important;
  }

  .info-card-item-year {
    margin-bottom: 0 !important;
  }

  footer {
    display: block;
    position: fixed;
    bottom: 0cm;
    // left: 0.5cm;
    // text-align: justify;
    font-style: italic;
  }
  .knowledge-box-container {
    @include make-col(2, 10);
  }
  .py-4 {
    padding-top: 10pt!important;
    padding-bottom: 10pt!important;
  }
  .mt-n4{
      margin-top: -10pt!important;
  }
  .mb-n4{
      margin-bottom: -10pt!important;
  }
}
