  html{
    @if (type-of($root-font-size) == 'map') {
      @each $breakpoint, $html-font-size in $root-font-size {
        @if($breakpoint == xs){
          font-size: $html-font-size;
        } @else {
          @include media-breakpoint-up($breakpoint){
            font-size: $html-font-size;
          }
        }
      }
    } @else {
      font-size: $root-font-size;
    }
  }
